<app-header></app-header>
<div class="container">
    <div class="m-5">
        <h1 class="text-center">Listado de Asambleistas</h1>
        <!--<h4 class="text-center">Ultima Actualizacion 2/01/2021</h4>-->
        <hr>
    </div>

    <div class="row">
        <div class="col text-right mb-3">
            <button routerLink="/editar/nuevo" class="btn btn-danger">
            <i class="fa fa-plus"> </i>
                Agregar asambleista
           
        </button>
        </div>
    </div>

    <!--<form class="d-flex">
        <button (click)="buscarAsambleista(buscarTexto.value)" class="btn btn-dark mr-2 mb-3" type="button">Buscar</button>
        <input class="form-control me-2" type="text" placeholder="Buscar asambleista"  (keyup.enter)="buscarAsambleista(buscarTexto.value)"#buscarTexto>

    </form>-->


    <table class="table table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Provincia</th>
                <th scope="col">Municipio</th>
                <th scope="col">Circ</th>
                <th scope="col">Distrito Municipal</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cedula</th>
                <th scope="col">Descripcion Organo</th>
                <th scope="col">CargoElectivo</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let asambleista of asambleistas  | paginate: { itemsPerPage: 100, currentPage:pageActual } " (click)="verPerfil(asambleista.id)">
                <th scope="row">{{ asambleista.id }}</th>
                <td>{{ asambleista.provincia }}</td>
                <td>{{ asambleista.municipio }}</td>
                <td>{{ asambleista.circ }}</td>
                <td>{{ asambleista.distritoMunicipal }}</td>
                <td>{{ asambleista.nombre }}</td>
                <td>{{ asambleista.cedula }}</td>
                <td>{{ asambleista.descripcionOrgano }}</td>
                <td>{{ asambleista.cargoElectivo }}</td>

        </tbody>
    </table>
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>

    <br>
    <br>


    <!-- <div class="alert alert-dark text-center mt-3 animated fadeIn faster">
        <h3 class="alert-heading">No hay registros</h3>
        <p>
            <i class="fa fa-exclamation fa-7x"></i>
        </p>

    </div>-->

    <div *ngIf="cargando" class="alert alert-dark text-center mt-3 animated fadeIn faster">
        <h3 class="alert-heading">Cargando data</h3>
        <p>
            <i class="fa fa-sync-alt fa-spin fa-7x"></i>
        </p>
        <p class="mb0">
            Espere por favor
        </p>
    </div>

</div>